body {

    text-align: center;
    font-size: 23px;
    background-color: #ece7cd;
    font-family: Arial;
    border: rgb(0, 0, 0) solid 2px;
    color: #1E2601;
}

h1{
    color:rgb(31, 129, 31);
    font-family: verdana;
}

a{
    color: rgb(73, 73, 73);
    text-align: center;
}