body{

    text-align: center;
    font-size: 23px;
    background-color: #d3c789
    font-family: Arial, Helvetica, sans-serif;
    border:white solid 2px;
    color: #1E2601
    border: solid;#1E2601


}